.studios-name {
  font-size: 20px;
  font-family: 'TsukuARdGothic-Regular';
}

.sell-yen {
  font-size: 20px;
  font-family: 'TsukuARdGothic-Regular';
}

.price-input {
  font-size: 20px;
  font-family: 'TsukuARdGothic-Regular';
}

.sell-btn-contents {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.regist-btn {
  width: 100%;
  background: #fffaf0;
  border: 1px solid #ffa500;
  color: #333333;
  line-height: 48px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'TsukuARdGothic-Regular';
  cursor: pointer;
  margin-bottom: 30px;
}

/* スマホ向け設定 */
@media (max-width: 599px) {

  .studios-name {
    font-size: 17px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  .sell-yen {
    font-size: 17px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  .price-input {
    font-size: 17px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  .sell-btn-contents {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .regist-btn {
    width: 100%;
    background: #fffaf0;
    border: 1px solid #ffa500;
    color: #333333;
    line-height: 48px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    cursor: pointer;
    margin-bottom: 30px;
  }

}
/* /スマホ向け設定 */