.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
}

.wrap {
  width: 100%;
}

.header-content1 {
  color: #3f3f3f;
  font-size: 30px;
  font-family: 'Osaka';
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.header-content2 {
  color: #3f3f3f;
  font-size: 20px;
  font-family: 'Osaka';
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.studio-img-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  padding: 2% 0%;
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
}

.studio-box-img {
  width: 33%;
  align-self: flex-start;
}

.calendar-content {
  color: #3f3f3f;
  font-size: 20px;
  font-family: 'Osaka';
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.reserve-list {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}


.studio-list {
  padding-top: 2%;
  width: 80%;
  padding-left: 20%;
}

.studio-list-header {
  font-family: 'Osaka';
  font-size: 25px;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #333333;
}

.studio-list > li {
  display: flex;
  justify-content: space-between;
}

.studio-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Osaka';
}

ul.studio-info > li {
  border: 1px solid;
  padding: 1.5rem;
  margin-bottom: 2%;
}

.studio-list-table {
  width: 33%;
}

.studio-list-table-header {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #333333;
}

li.studio-list-table > ul > li {
  margin-bottom: 2%;
  border-bottom: 1px dotted #333333;
}

.detail {
  text-decoration: none;
  color: #333333;
  margin-bottom: 2%;
  padding-right: 2%;
}

.detail-user {
  text-decoration: none;
  color:#cd853f;
}