* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrap {
  width: 100%;
}

.header-area {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-area div.text-1 {
  position: absolute;
  font-size: 250%;
  font-weight: bold;
  top: 10%;
  left: 15%;
  color: #c0c0c0;
  font-family: 'Zapfino';
}

.header-area div.text-2 {
  position: absolute;
  vertical-align: middle;
  font-size: 170%;
  font-weight: bold;
  top: 75%;
  left: 15%;
  color: #c0c0c0;
  font-family: 'TsukuARdGothic-Regular';
  background-color: rgba(245,245,245,0.2);
}

.header-area div.text-3 {
  position: absolute;
  vertical-align: middle;
  font-size: 170%;
  font-weight: bold;
  top: 82%;
  left: 15%;
  color: #c0c0c0;
  font-family: 'TsukuARdGothic-Regular';
  background-color: rgba(245,245,245,0.2);
}

.header-area div.text-4 {
  position: absolute;
  vertical-align: middle;
  font-size: 170%;
  font-weight: bold;
  top: 89%;
  left: 15%;
  color: #c0c0c0;
  font-family: 'TsukuARdGothic-Regular';
  background-color: rgba(245,245,245,0.2);
}

/* 各種メニュー */
.right-header2 {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 5%;
  padding-bottom: 0.5%;
}

.lists-right2 {
  height: 100%;
  display: flex;
  justify-content: right;
  list-style: none;
  padding-top: 1vh;
  font-family: 'TsukuARdGothic-Regular';
  color: #333333;
}

.new-studio2 {
  text-decoration: none;
  margin-right: 1.5vw;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.admin-last-name2 {
  text-decoration: none;
  margin-right: 1.5vw;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.user-last-name2 {
  text-decoration: none;
  margin-right: 1.5vw;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.logout2 {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.login2 {
  text-decoration: none;
  margin-right: 1vw;
  color: #333333;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.sign-up2 {
  text-decoration: none;
  color: #333333;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}
/* /各種メニュー */

.space {
  width: 100%;
  height: 20%;
}

.studio-img {
  width: 100%;
}

.studio-img-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  padding: 2% 0%;
  position: relative;
}

.studio-box-img {
  width: 33%;
  align-self: flex-start;
}

.studio-img-content div.text-5 {
  position: absolute;
  font-size: 200%;
  font-weight: bold;
  top: 75%;
  left: 2%;
  color: #c0c0c0;
  font-family: 'TsukuARdGothic-Regular';
}

.studio-img-content div.text-6 {
  position: absolute;
  font-size: 200%;
  font-weight: bold;
  top: 75%;
  left: 35%;
  color: #c0c0c0;
  font-family: 'TsukuARdGothic-Regular';
}

.studio-img-content div.text-7 {
  position: absolute;
  font-size: 200%;
  font-weight: bold;
  top: 75%;
  left: 67%;
  color: #c0c0c0;
  font-family: 'TsukuARdGothic-Regular';
}

.calendar-content {
  color: #3f3f3f;
  font-size: 5vw;
  font-family: 'TsukuARdGothic-Regular';
  display: flex;
  justify-content: center;
}

.reserve-list {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}

.studio-list {
  padding-top: 2%;
  width: 80%;
  padding-left: 20%;
  margin-top: 10%;
}

.studio-list-header {
  font-family: 'TsukuARdGothic-Regular';
  font-size: 5vw;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #333333;
}

.studio-list > li {
  display: flex;
  justify-content: space-between;
}

.studio-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'TsukuARdGothic-Regular';
}

ul.studio-info > li {
  border: 1px solid;
  padding: 1.5rem;
  margin-bottom: 2%;
}

.studio-list-table {
  width: 33%;
}

.studio-list-table-header {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #333333;
  font-family: 'TsukuARdGothic-Regular';
}

li.studio-list-table > ul > li {
  margin-bottom: 2%;
  border-bottom: 1px dotted #333333;
}

.detail {
  text-decoration: none;
  color: #333333;
  margin-bottom: 2%;
  padding-right: 2%;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

.detail-user {
  text-decoration: none;
  color:#cd853f;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

.index-text {
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

/* スマホ向け設定 */
@media (max-width: 599px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .wrap {
    width: 100%;
  }
  
  .header-area {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-area div.text-1 {
    position: absolute;
    font-size: 40%;
    font-weight: bold;
    top: 10%;
    left: 15%;
    color: #c0c0c0;
    font-family: 'Zapfino';
  }
  
  .header-area div.text-2 {
    position: absolute;
    vertical-align: middle;
    font-size: 25%;
    font-weight: bold;
    top: 70%;
    left: 15%;
    color: #c0c0c0;
    font-family: 'TsukuARdGothic-Regular';
    background-color: rgba(245,245,245,0.2);
  }
  
  .header-area div.text-3 {
    position: absolute;
    vertical-align: middle;
    font-size: 35%;
    font-weight: bold;
    top: 77%;
    left: 15%;
    color: #c0c0c0;
    font-family: 'TsukuARdGothic-Regular';
    background-color: rgba(245,245,245,0.2);
  }
  
  .header-area div.text-4 {
    position: absolute;
    vertical-align: middle;
    font-size: 35%;
    font-weight: bold;
    top: 84%;
    left: 15%;
    color: #c0c0c0;
    font-family: 'TsukuARdGothic-Regular';
    background-color: rgba(245,245,245,0.2);
  }
  
  /* 各種メニュー */
  .right-header2 {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    padding-bottom: 0.5%;
  }
  
  .lists-right2 {
    height: 100%;
    display: flex;
    justify-content: right;
    list-style: none;
    padding-top: 1vh;
    font-family: 'TsukuARdGothic-Regular';
    color: #333333;
  }
  
  .new-studio2 {
    text-decoration: none;
    margin-right: 1.5vw;
    color: #333333;
    font-size: 7px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .admin-last-name2 {
    text-decoration: none;
    margin-right: 1.5vw;
    color: #333333;
    font-size: 7px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .user-last-name2 {
    text-decoration: none;
    margin-right: 1.5vw;
    color: #333333;
    font-size: 7px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .logout2 {
    text-decoration: none;
    color: #333333;
    font-size: 7px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .login2 {
    text-decoration: none;
    margin-right: 1vw;
    color: #333333;
    font-size: 7px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .sign-up2 {
    text-decoration: none;
    color: #333333;
    font-size: 7px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  /* /各種メニュー */
  
  .studio-img {
    width: 100%;
  }
  
  .studio-img-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    padding: 2% 0%;
    position: relative;
  }
  
  .studio-box-img {
    width: 33%;
    align-self: flex-start;
  }
  
  .studio-img-content div.text-5 {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 68%;
    left: 2%;
    color: #c0c0c0;
    font-family: 'TsukuARdGothic-Regular';
  }
  
  .studio-img-content div.text-6 {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 68%;
    left: 35%;
    color: #c0c0c0;
    font-family: 'TsukuARdGothic-Regular';
  }
  
  .studio-img-content div.text-7 {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 68%;
    left: 67%;
    color: #c0c0c0;
    font-family: 'TsukuARdGothic-Regular';
  }
  
  .calendar-content {
    color: #3f3f3f;
    font-size: 4vw;
    font-family: 'TsukuARdGothic-Regular';
    display: flex;
    justify-content: center;
  }
  
  .reserve-list {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
  }
  
  .studio-list {
    width: 100%;
    padding: 0;
    margin-top: 6%;
  }
  
  .studio-list-header {
    font-family: 'TsukuARdGothic-Regular';
    font-size: 4vw;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #333333;
  }
  
  .studio-list > li {
    display: flex;
    justify-content: space-between;
  }
  
  .studio-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'TsukuARdGothic-Regular';
  }
  
  ul.studio-info > li {
    border: 1px solid;
    margin-bottom: 2%;
  }
  
  .studio-list-table {
    width: 33%;
  }
  
  .studio-list-table-header {
    font-size: 5px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #333333;
    font-family: 'TsukuARdGothic-Regular';
  }
  
  li.studio-list-table > ul > li {
    margin-bottom: 2%;
    border-bottom: 1px dotted #333333;
  }
  
  .detail {
    text-decoration: none;
    color: #333333;
    font-size: 5px;
    margin-bottom: 2%;
    padding-right: 2%;
    font-family: 'TsukuARdGothic-Regular';
    font-weight: bold;
  }
  
  .detail-user {
    text-decoration: none;
    font-size: 5px;
    color:#cd853f;
    font-family: 'TsukuARdGothic-Regular';
    font-weight: bold;
  }
  
  .index-text {
    font-family: 'TsukuARdGothic-Regular';
    font-weight: bold;
    font-size: 5px;
  }
}
/* /スマホ向け設定 */