.page-footer {
  height: 10vh;
  position: relative;
  background-color: rgba(245,245,245,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text-wrap {
  height: 10vh;
}

.footer-text {
  height: 10vh;
}