* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: rgba(245,245,245,0.7);
}

.left-header {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 10%;
}

.studio-icon {
  font-size: 45px;
  color: #c0c0c0;
  font-family: 'Bad Script', cursive;
}

.right-header {
  position: absolute;
  top: 0%;
  right: 1%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.lists-right {
  height: 100%;
  display: flex;
  list-style: none;
  font-family: 'TsukuARdGothic-Regular';
  color: #333333;
  align-items: center; 
}

.new-studio {
  text-decoration: none;
  margin-right: 1.5vw;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.admin-last-name {
  text-decoration: none;
  margin-right: 1.5vw;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.user-last-name {
  text-decoration: none;
  margin-right: 1.5vw;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.logout {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.login {
  text-decoration: none;
  margin-right: 1vw;
  color: #333333;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 1.5vh 1.5vw;
  border: 1px solid black;
  border-top: transparent;
  border-bottom: transparent;
}

.bar {
  border: 1px solid #d3d3d3;
}

/* スマホ向け設定 */
@media (max-width: 599px) {

  .top-page-header {
    width: 100%;
    height: 6vh;
    position: relative;
    background-color: rgba(245,245,245,0.7);
    margin-left: 0;
    margin-right: 0;
  }
  
  .left-header {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 40%;
  }
  
  .studio-icon {
    font-size: 22px;
    color: #c0c0c0;
    font-family: 'Bad Script', cursive;
  }

  .right-header {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
  }
  
  .lists-right {
    height: 100%;
    display: flex;
    list-style: none;
    font-family: 'TsukuARdGothic-Regular';
    color: #333333;
    align-items: center;
  }
  
  .new-studio {
    text-decoration: none;
    margin-right: 1.5vw;
    color: #333333;
    font-size: 2px;
    font-weight: bold;
    padding: 1vh 1vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .admin-last-name {
    text-decoration: none;
    margin-right: 1.5vw;
    color: #333333;
    font-size: 2px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .user-last-name {
    text-decoration: none;
    margin-right: 1.5vw;
    color: #333333;
    font-size: 2px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .logout {
    text-decoration: none;
    color: #333333;
    font-size: 2px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .login {
    text-decoration: none;
    margin-right: 2%;
    color: #333333;
    font-size: 2px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .sign-up {
    text-decoration: none;
    color: #333333;
    font-size: 2px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
  }
}
/* /スマホ向け設定 */