<footer>
  <div class="bar"></div>
  <div class='page-footer'>
    <div class='fotter-text-wrap'>
      <p class='fotter-text'>© 2020 KON-LAB inc.</p>
    </div>
    </div>
  <div class="bar"></div>
</footer>