<header>
  <div class="bar"></div>
  <div class='top-page-header'>
    <div class='left-header'>
      <%= link_to image_tag("studio-logo.png", class: "studio-icon") %>
    </div>
  </div>
  <div class="bar"></div>
</header>