.detail-reservation2 {
  width: 10%;
  background-color: #fdf5e6;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-reservation-list-head {
  background-color: #fdf5e6;
  width: 22.5%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-reservation-list {
  width: 22.5%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}